<form method="post" action="/students" >
  <label for="first-name-field">First Name:</label>
  <input
  type="text"
  name="first_name" 
  id="first-name-field"
  />

  <label for="second-name-field">Second Name:</label>
  <input
  type="text"
  name="second_name" 
  id="second-name-field"
  />

  <label for="house-field">House:</label>
  <select
  name="house" 
  id="house-field">
    <option value="Gryffindor">Gryffindor</option>
    <option value="Slytherin">Slytherin</option>
    <option value="RavenClaw">RavenClaw</option>
    <option value="Hufflepuff">Hufflepuff</option>
    </select>

    <label for="age-field">Age:</label>
    <input
    type="number"
    name="age" 
    id="age-field"
    />

    <input type="submit" value="Enrol student">

</form>